{% extends "app/base.html" %}

{% load events_extras %}

{% block title %}Events{% endblock %}

{% block breadcrumbs %}
    <li class="active">Blog</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Blog</h1>
        </div>

        <ul class="nav nav-pills">
            {% for i in archive_years %}
                <li>
                    <a href="{% url 'post-year-archive' year=i.year %}">{{ i.year }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="row">
            <div class="col-lg-12">
            {% for post in posts %}
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                {% include "blog/post-tagline.html" %}
                {{ post.teaser }}
                <a href="{{ post.get_absolute_url }}">Read more...</a>
            {% endfor %}
            </div>
        </div>
    </div>
    {% include "blog/post-count-js.html" %}
{% endblock %}
