{% extends "app/base.html" %}

{% block title %}Posts for {{ month|date:"F Y" }} — DCPython{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li><a href="{% url 'post-year-archive' year=month.year %}">{{ month|date:"Y" }}</a></li>
    <li class="active">{{ month|date:"F" }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Posts for {{ month|date:"F Y" }}</h1>
        </div>
        {% for post in object_list %}
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            {% include "blog/post-tagline.html" %}
        {% endfor %}
    </div>
  {% include "blog/post-count-js.html" %}
{% endblock %}
