{% extends "app/base.html" %}

{% load events_extras %}

{% block title %}{{ object.name }} — DCPython{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li><a href="{% url 'post-year-archive' year=object.published.year %}">{{ object.published|date:"Y" }}</a></li>
    <li><a href="{% url 'post-month-archive' year=object.published.year month=object.published.month %}">{{ object.published|date:"F" }}</a></li>
    <li class="active">{{ object.title }}</li>
{% endblock breadcrumbs %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ object.title }}</h1>
        </div>
        {% include "blog/post-tagline.html" with blog=object %}
        <span>{{ object.teaser }}</span>
        <span>{{ object.body }}</span>
    </div>
{% endblock %}
